@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

header {
    width: 100%;
    height: 4rem;
    background-color: #000;
}
header h1 {
    color: #fff;
    text-align: center;
}

main {
    width: 80%;
    height: auto;
    margin: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main section {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.input-control {
    width: 30%;
    height: 2.5rem;
    padding: 0 10px;
}

form button {
    width: 10%;
    height: 2.5rem;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    transition: 0.6s;
}

form button:hover {
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
}

table {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 5% 0;
}

table th {
    background-color: #000;
    width: auto;
    height: 2.5rem;
    border-radius: 3px;
    margin: 10%;
    color: #fff;
}

table td {
    background-color: #f0f0f0;
    width: auto;
    height: 2.5rem;
    border-radius: 3px;
    margin: 10%;
}

.pagination {
    margin: 10% 0;
}
